/.web-server-pid
/app/config/parameters.yml
/build/
/phpunit.xml
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/vendor/
/web/bundles/
/bash.exe.stackdump
/cd
/composer-setup.php
/composer.phar
/sh.exe.stackdump
/php
/src/SnowTricks/HomeBundle/Resources/views/Tricks/view.html.twig
/web/bootstrap/css/clean-blog.min.css
/web/bootstrap/vendor/bootstrap/css/bootstrap.min.css
/web/uploads
/web/uploads/img