{% extends "SnowTricksHomeBundle::layout.html.twig" %}

{% block body %}

<h2>Supprimer une annonce</h2>

 <p>
    Etes-vous certain de vouloir supprimer la figure "{{ trick.name }}" ?
  </p>

  <form action="{{ path('snow_tricks_home_delete', {'id': trick.id}) }}" method="post">
    <a href="{{ path('snow_tricks_home_view', {'id': trick.id}) }}" class="btn btn-default">
      <i class="glyphicon glyphicon-chevron-left"></i>
      Retour à la figure
    </a>
    <input type="submit" value="Supprimer" class="btn btn-danger" />
    {{ form_rest(form) }}
  </form>

{% endblock %}