<div class="well">

<ul>
        	{% for message in listMessages %}
    <li><h3> {{ message.title }} </h3></li>
    {% else %}
      <li>Pas (encore !) de messages</li>
    {% endfor %}
    <hr>
      	</ul>
<ul class="pagination">
    {# On utilise la fonction range(a, b) qui crée un tableau de valeurs entre a et b #}
    {% for p in range(1, nbPages) %}
      <li{% if p == page %} class="active"{% endif %}>
       <a href="{{ path('snow_tricks_home_view', {'page': p }) }}">{{ p }}</a> 
      </li>
    {% endfor %}
  </ul>   

</div>