{% extends "SnowTricksHomeBundle::layout.html.twig" %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h2>Mot de passe oublié</h2>
                {{ form_start(form) }}

                    {{ form_row(form.email, {
                        'label': 'Renseignez votre email'
                    }) }}
                    
                    <button type="submit" class="btn btn-primary" formnovalidate>Validez</button>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}